{% extends 'core/base.html' %}
{% block title %}
    Conóceme
{% endblock %}
{% load static %}
{% block title_page %}Conóceme{% endblock %}
{% block subtitle_page %}Biografia{% endblock %}
{% block content %}
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Danny Rivadeneira</h2>
            <p>Soy un apasionado por la tecnología, programo desde los 14 años y me encanta Python</p>
            <p>Autodidacta por excelencia y ávido estudiante en plataformas como Udemy, Platzi y EdTeam las mismas que me han servido como complemento en mi carrera superior como Desarrollador De Software </p>
            <p>Se me olvidaba... también tengo un blog puedes revisarlo <a href="#">aquí</a></p>
        </div>
      </div>
    </div>
{% endblock %}
{% block image_url %}{%static 'core/img/about-me.jpg'%}{% endblock %}