{% extends 'core/base.html' %}
{% block title %}
    Contactame
{% endblock %}
{% block title_page %}Contáctame{% endblock %}
{% load static %}
{% block content %}
    <div class="container">





      <div class="row justify-content-lg-center">
        <div class="col-lg-7 col-md-8">
        {% if succes %}
            <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tu mensaje fue enviado correctamente</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
        {% endif %}
          <h2 class="section-heading">Contáctate Conmigo</h2>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% if forms.error %}
                    <p>{{ forms.error }}</p>
                {% endif %}
                <div class="form-group">
                    <label >Nombre</label>
                    <input type="text" name="name" class="form-control" placeholder="Ingresa tu nombre">
                </div>
                <div class="form-group">
                    <label>Número Telefónico</label>
                    <input type="text" name="phone_number"  class="form-control" placeholder="Ingresa tu número telefónico">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Ingresa tu Email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Deja tu comentario</label>
                    <textarea name="comment"  cols="30" rows="10" class="form-control" ></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Eviar</button>
            </form>

        </div>
      </div>
    </div>
{% endblock %}
{% block image_url %}{%static 'core/img/contact.jpg'%}{% endblock %}