
{% block nav %}
<nav>
     <ul>
         <li>
             <a href="/">Home</a>
         </li>
         <li>
             <a href="/portafolio">Portafolio</a>
         </li>
         <li>
             <a href="/about-me">About</a>
         </li>
         <li>
             <a href="/contact   ">Contacto</a>
         </li>
     </ul>
</nav>
{% endblock %}