{% extends 'core/base.html' %}
{% block title %}Portafolio{% endblock %}
{% block title_page %}Mis proyectos{% endblock %}
{% block subtitle_page %}Revisa mis proyectos{% endblock %}
{% load static %}
{% block content %}
        <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
              {% for project in projects %}
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{ project.image.url }}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{ project.title }}</h2>
	          <p>{{ project.description }}</p>
	          <p><a href="{{ project.url }}">Más información</a></p>
	      	</div>
              {% endfor %}
	      </div>
		  </div>

{% endblock %}
{% block image_url %}{%static 'core/img/portfolio-bg.jpg'%}{% endblock %}
